* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   'Source Sans Pro', sans-serif;
}


/* styling fp */
.fp h1 {
    text-align: center;
    line-height: 3;
    margin-top: 14px;
    font-size: 35px;
    font-weight: 501;
}


.fp p {
    text-align: center;
    margin-top: 14px;
    width: 50rem;
    margin-left: 18rem;
    line-height: 1.5;
    font-family:   'Source Sans Pro', sans-serif;
}


/* styling fp end */




/* styling sp */

.sp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.sp  img {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80px;
    margin: 0 100px;
    
}

.sp h3 {
    text-align: center;
    line-height: 3;
    margin-top: 14px;
}

.sp p{
    text-align: center;
    line-height: 2;
}
/* styling sp end */








