* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   'Source Sans Pro', sans-serif;
}
.oop{
    background: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 150vh;
    margin-top: 140px;
}


/* styling fp */
.op h1 {
    text-align: center;
    line-height: 3;
    margin-top: 40pxpx;
    font-size: 35px;
    font-weight: 501;
}


.op p {
    text-align: center;
    margin-top: 14px;
    width: 40rem;
    margin-left: 22rem;
    line-height: 1.5;
    font-family:   'Source Sans Pro', sans-serif;
}


/* styling fp end */




/* styling sp */

.rp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.rp  img {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 200px;
    margin: 0 100px;
    
}

.rp h1 {
    font-size: 50px;
    margin-top: -120px;
    text-align: center;
    
}

.rp h3 {
    /* margin-top: -50px; */
    text-align: center;
    
}

/* styling sp end */








